body {
  background-image: url(./img/Clear.jpg);
  background-size: cover;
}
h1,
.region_name {
  text-align: center;
  color: white;
  text-shadow: 3px 3px gray;
  opacity: 80%;
}
.region_name {
  font-size: 2rem;
}
input {
  opacity: 70%;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.input_wrapper {
  display: flex;
  justify-content: center;
  /* border: 1px solid gray; */
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
}
.text_todo {
  display: flex;
  align-items: center;
  width: 5rem;
  padding-left: 0.3rem;

  background: rgb(93, 219, 100);
  /* background: rgb(104, 104, 223); */
  color: white;
  border-radius: 9px 0 0 9px;
  margin-right: 0.1rem;
}
#inputTodo {
  width: 20rem;
  margin-right: 0.2rem;
}
#btnAdd {
  width: 5rem;
  background: rgb(209, 171, 224);
  border-radius: 0 9px 9px 0;
}

#listTodo {
  width: 70%;
  /* margin: 0.3rem 3rem 0rem 3rem; */
  list-style: none;
  padding-left: 0;
}
#listTodo li {
  background: rgb(241, 237, 237);
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

/* ToDo 아이템 */
#listTodo li .check {
  cursor: pointer;
}
#listTodo li input {
  border: none;
  width: calc(100% - 7rem);
}
.check {
  color: #ccc;
  font-size: 20px;
}

.checked {
  text-decoration: line-through;
  color: #ccc;
}

button {
  cursor: pointer;
}
#btnDelAll {
  font-weight: bold;
  background-color: antiquewhite;
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px gray;
}
#btnDelAll:active {
  box-shadow: none;
  margin-left: 2px;
  margin-top: 2px;
}
